<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Glorious Polish Verbs template</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Inconsolata:wght@300&family=PT+Sans&family=Tajawal&display=swap"
        rel="stylesheet">

    <!-- My Stylesheet -->
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="main-card">
        <!-- TOP AREA 
            ::::Includes the Imperfective and perfective forms of the verb -->

        <div class="top section">
            <div class="touch">
                <span id="nied" onclick="showTouch(1)">niedokonany</span>
                <span id="imperfective">robić</span>
            </div>
            <div class="wolf"><img class="wolf-img" src="images/whitewolf.png"></div>
            <div class="touch">
                <span id="dok" onclick="showTouch(2)">dokonany</span>
                <span id="perfective"></span>
            </div>
        </div>

        <!-- MIDDLE AREA
            ::::Includes: 1) Notes; 2) Verb in English; 3) Example sentences-->

        <div class="middle section">

            <!-- Bestiary: notes -->
            <div class="bestiary">
                <div class="geralt">
                    <img class="geralt-img" src="images/geralt.png">
                </div>
                <p>Hello tHello this is iI talHello this is a message where I talhis is a message where I talk and
                    talk and talk</p>
            </div>

            <!-- Verb in infinitive -->
            <div class="verb">
                <p class="verb-heading">Verb</p>
            </div>

            <!-- Example box -->
            <!-- Slideshow container -->
            <div class="slideshow-container examples">

                <!-- Polish example -->
                <div class="mySlides fade eg-polish">
                    <h3 class="eg-title">zdanie po polsku</h3>
                    <p>Hello asd jsad alsd jalsmd alsm dsam djw ds</p>
                </div>

                <!-- English example -->
                <div class="mySlides fade eg-english">
                    <h3 class="eg-title">zdanie po angielsku</h3>
                    <p>Hello theraskd sand laskdn asld lsakd awnd sne</p>
                </div>

                <!-- Slideshow dots -->
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                </div>
            </div>
        </div>

        <!-- BOTTOM AREA
             :::: Includes tables of conjugation -->
        <div class="bottom section slideshow-tables-container">

            <!-- TABLES 1: Present and simple future perfective -->
            <div class="table-container">

                <!-- Present -->
                <div class="table1 fade">
                    <table class="table-item">
                        <tbody>
                            <tr>
                                <td colspan="2"><span class="tabletitle">czas teraźniejszy</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2"><img class="sword" src="images/sword.png"></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(1)">robię</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(2)">robisz</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(3)">robi</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(4)">robimy</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(5)">robicie</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(6)">robią</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Simple future perfective -->
                <div class="table1 fade">
                    <table class="table-item">
                        <tbody>
                            <tr>
                                <td colspan="2"><span class="tabletitle">czas przyszły prosty</span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><img class="sword" src="images/sword.png"></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(7)">zrobię</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(8)">zrobisz</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(9)">zrobi</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(10)">zrobimy</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(11)">zrobicie</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(12)">zrobią</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Slideshow dots -->
                <div style="text-align:center">
                    <span class="dot-table1" onclick="currentTable1Slide(1)"></span>
                    <span class="dot-table1" onclick="currentTable1Slide(2)"></span>
                </div>
            </div>


            <!-- TABLE 2: Past imperfect -->
            <div class="table-container">

                <!-- Masculine -->
                <div class="table2 fade">
                    <table class="table-item">
                        <tbody>
                            <tr>
                                <td colspan="2"><span class="tabletitle">czas przeszły (ndk.)</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="gender masc">męski</td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(13)">zrobiłem</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(14)">zrobiłeś</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(15)">zrobił</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(16)">zrobiliśmy</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(17)">zrobiliście</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(18)">zrobili</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Femenine -->
                <div class="table2 fade">
                    <table class="table-item">
                        <tbody>
                            <tr>
                                <td colspan="2"><span class="tabletitle">czas przeszły (ndk.)</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="gender fem">żeński</td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(19)">zrobiłam</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(20)">Bloblo</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(21)">Bloblo</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(22)"">Bloblo</span></td>
                                </tr>
                                <tr>
                                    <td><span class=" mini-touch" onclick="showMiniTouch(23)">Bloblo</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(24)">Bloblo</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Neuter -->
                <div class="table2 fade">
                    <table class="table-item">
                        <tbody>
                            <tr>
                                <td colspan="2"><span class="tabletitle">czas przeszły (ndk.)</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="gender neut">nijaki</td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(25)">Ø</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(26)">Ø</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(27)">Ø</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(28)">Ø</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(29)">Bloblo</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(30)">Bloblo</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Slideshow dots -->
                <div style="text-align:center">
                    <span class="dot-table2" onclick="currentTable2Slide(1)"></span>
                    <span class="dot-table2" onclick="currentTable2Slide(2)"></span>
                    <span class="dot-table2" onclick="currentTable2Slide(3)"></span>
                </div>
            </div>

            <!-- TABLE 3: Past perfect -->
            <div class="table-container">

                <!-- Masculine -->
                <div class="table3 fade">
                    <table class="table-item">
                        <tbody>
                            <tr>
                                <td colspan="2"><span class="tabletitle">czas przeszły (dk.)</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="gender masc">męski</td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(31)">Bloblo</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(32)">Bloblo</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(33)">Bloblo</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(34)">Bloblo</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(35)">Bloblo</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(36)">Bloblo</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Feminine -->
                <div class="table3 fade">
                    <table class="table-item">
                        <tbody>
                            <tr>
                                <td colspan="2"><span class="tabletitle">czas przeszły (dk.)</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="gender fem">żeński</td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(37)">Bloblo</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(38)">Bloblo</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(39)">Bloblo</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(40)">Bloblo</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(41)">Bloblo</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(42)">Bloblo</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Neutrum -->
                <div class="table3 fade">
                    <table class="table-item">
                        <tbody>
                            <tr>
                                <td colspan="2"><span class="tabletitle">czas przeszły (dk.)</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="gender neut">nijaki</td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(43)">Ø</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(44)">Ø</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(45)">Ø</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(46)">Ø</span></td>
                            </tr>
                            <tr>
                                <td><span class="mini-touch" onclick="showMiniTouch(47)">Bloblo</span></td>
                                <td><span class="mini-touch" onclick="showMiniTouch(48)">Bloblo</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Slideshow dots -->
                <div style="text-align:center">
                    <span class="dot-table3" onclick="currentTable3Slide(1)"></span>
                    <span class="dot-table3" onclick="currentTable3Slide(2)"></span>
                    <span class="dot-table3" onclick="currentTable3Slide(3)"></span>
                </div>
            </div>
        </div>

        <div id="present" style="display: none">-, -, -, -, -, -</div>
        <div id="future" style="display: none">-, -, -, -, -, -</div>
        <div id="pastperf-m" style="display: none">-, -, -, -, -, -</div>
        <div id="pastperf-f" style="display: none">-, -, -, -, -, -</div>
        <div id="pastperf-n" style="display: none">-, -, -, -, -, -</div>
        <div id="pastimperf-m" style="display: none">-, -, -, -, -, -</div>
        <div id="pastimperf-f" style="display: none">-, -, -, -, -, -</div>
        <div id="pastimperf-n" style="display: none">-, -, -, -, -, -</div>

        <!-- Footer with witcher symbols -->
        <footer class="footer">
            <img src="images/flag.png">
        </footer>
    </div>

    <!-- Control section -->
    <div class="controls">
            <label for="present-tense">Present tense:
                <input id="present-tense" type="text">
            </label>

            <label for="past-tense-imp">Past tense Imperfective:
                 <input id="past-tense-imp" type="text">
            </label>

            <label for="past-tense-per">Past tense imperfective:
                 <input id="past-tense-per" type="text">
             </label>


            <input type="button" value="Update!" onClick="presenTense()">
    </div>



    <!-- SCRIPTS -->
    <script>
        // Slideshow Example
        var slideIndex = 1;
        showSlides(slideIndex);

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n); // Por qué es esto necesario
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block"; // why "-1"
            dots[slideIndex - 1].className += " active";
        }

        // Slideshow Tables 2
        var table1Index = 1;
        showTable1(table1Index);

        function currentTable1Slide(n) {
            showTable1(table1Index = n);
        }

        function showTable1(n) {
            var i;
            var table1Slide = document.getElementsByClassName("table1");
            var dotsTable1 = document.getElementsByClassName("dot-table1");

            for (i = 0; i < table1Slide.length; i++) {
                table1Slide[i].style.display = "none";
            }
            for (i = 0; i < dotsTable1.length; i++) {
                dotsTable1[i].className = dotsTable1[i].className.replace(" active", ""); // className ?
            }
            table1Slide[table1Index - 1].style.display = "block";
            dotsTable1[table1Index - 1].className += " active";
        }

        // Slideshow Table 2
        var table2Index = 1;
        showTable2(table2Index);

        function currentTable2Slide(n) {
            showTable2(table2Index = n);
        }

        function showTable2(n) {
            var i;
            var table2Slide = document.getElementsByClassName("table2");
            var dotsTable2 = document.getElementsByClassName("dot-table2");

            for (i = 0; i < table2Slide.length; i++) {
                table2Slide[i].style.display = "none";
            }
            for (i = 0; i < dotsTable2.length; i++) {
                dotsTable2[i].className = dotsTable2[i].className.replace(" active", ""); // className ?
            }
            table2Slide[table2Index - 1].style.display = "block";
            dotsTable2[table2Index - 1].className += " active";
        }

        // Slideshow Table 3
        var table3Index = 1;
        showTable3(table3Index);

        function currentTable3Slide(n) {
            showTable3(table3Index = n);
        }

        function showTable3(n) {
            var i;
            var table3Slide = document.getElementsByClassName("table3");
            var dotsTable3 = document.getElementsByClassName("dot-table3");

            for (i = 0; i < table3Slide.length; i++) {
                table3Slide[i].style.display = "none";
            }
            for (i = 0; i < dotsTable3.length; i++) {
                dotsTable3[i].className = dotsTable3[i].className.replace(" active", ""); // className ?
            }
            table3Slide[table3Index - 1].style.display = "block";
            dotsTable3[table3Index - 1].className += " active";
        }


        //  TOUCH & MINITOUCH

        // Automatically hide Touch and Minitouch
        hideAllTouch();

        function hideAllTouch() {
            var imperfective = document.getElementById("imperfective");
            var perfective = document.getElementById("perfective");
            var miniTouch = document.getElementsByClassName("mini-touch");
            imperfective.style.display = "none";
            perfective.style.display = "none";


            // Hides mini-touch
            for (var i = 0; i < miniTouch.length; i++) {
                miniTouch[i].classList.add("hidden");
            }
        }

        // Show Touch
        function showTouch(n) {
            var imperfective = document.getElementById("imperfective");
            var perfective = document.getElementById("perfective");
            var nied = document.getElementById("nied");
            var dok = document.getElementById("dok");
            var touch = document.getElementsByClassName("touch");


            if (n < 2) {
                imperfective.style.display = "block";
                nied.style.display = "none";
            } else {
                perfective.style.display = "block";
                dok.style.display = "none";
            }
        }



        // Show Mini-touch
        var miniTouch = document.getElementsByClassName("mini-touch");
        function showMiniTouch(n) {
            miniTouch[n - 1].classList.remove("hidden");
        }
   
        // Take input and change DOM element
        function presenTense() {
            var input = document.getElementById('present-tense');
            console.log("input is " + input.value)

            var present = document.getElementById('present');
            console.log("present is " + present)

            present.innerHTML = input.value;
            console.log("present is " + present.innerHTML)
            string_to_array("present", 1);
            showZeroCells();
        }


        // Convert a string to array to table

        string_to_array("future", 2);
        string_to_array("pastperf-m", 3);
        string_to_array("pastperf-f", 4);
        string_to_array("pastperf-n", 5);
        string_to_array("pastimperf-m", 6);
        string_to_array("pastimperf-f", 7);
        string_to_array("pastimperf-n", 8);

        function string_to_array(name, table) {
            var tense = document.getElementById(name).innerText;

            tense = tense.trim().split(",");
            while (tense.length < 6) {
                tense.push("Ø");
            }

            var rowLength = 3;
            var i = ((table-1)*6) // hardcoded

            // Organize verbs in cells
            for (let row = 0; row < rowLength; row++) {
                    miniTouch[i].innerText = tense[row];
                    miniTouch[i+1].innerText = tense[row + 3];
                    i = i + 2;   
            }         
        }



        // Change dashes to "Ø" & Always show the empty cells showing "Ø"
        showZeroCells();

 
        function showZeroCells() {
            var miniTouch = document.getElementsByClassName("mini-touch");
            console.log(miniTouch.length);
            for (var i = 0; i < miniTouch.length; i++) {
                if (miniTouch[i].innerText = "-") {
                    miniTouch[i].innerText = "Ø";
                }

                if (miniTouch[i].innerText == "Ø") {
                    miniTouch[i].classList.remove("hidden");
                }   
            }
        }

        // If touch element field is empty, show Ø
        showZeroTouch();
        function showZeroTouch() {
            var imperfective = document.getElementById("imperfective");
            var perfective = document.getElementById("perfective");
            var dok = document.getElementById("dok");
            var nied = document.getElementById("nied");
            
            if (perfective.innerHTML === "") {
                dok.innerHTML = "Ø"; 
                dok.removeAttribute("onclick");
            }

            if (imperfective.innerHTML === "") {
                nied.innerHTML = "Ø";
                nied.removeAttribute("onclick");
            }
        }


    </script>
</body>

</html>